# Ignore data folders and CSV files
data/
*.csv

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders
.venv/
venv/

# Ignore system files
.DS_Store
Thumbs.db